<!DOCTYPE HTML>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/public/index.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>WayScript Node Python Example Code</title>
	</head>

	<body>
		<img src="/static/logo.png">

		<br><br>
		<div>
			<span>Enter a person's name and profession, separated by a comma. The <a href="https://www.npmjs.com/package/wayscript">WayScript npm package</a> will make a call to a python script on WayScript to execute </span>
			<a href="https://github.com/derek73/python-nameparser">This Python Library.</a><br>
			<span>The WayScript package will return the results.</span>
		</div><br>

		<input id="name_input" type="text" placeholder="Enter a Name" value="Dr. Juan Q. Xavier de la Vega III (Doc Vega), Academic" style="width: 50%;">
		<button id="button">Click Me</button>
		
		<br><br>

		<ul id="result"></ul>
	</body>
</html>
